body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    width: 20%;
    background: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

#exerciseList button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background: #333;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#exerciseList button:hover {
    background: #555;
}

/* Camera Box */
.camera-box {
    width: 45%;
    position: relative;
}

#webcam {
    width: 100%;
    border-radius: 15px;
}

#output {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#feedback {
    margin-top: 10px;
    font-size: 18px;
    color: #00ff7f;
}

/* Demo Box */
.demo-box {
    width: 28%;
    background: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
}

.exercise-img {
    width: 100%;
    height: 240px;
    object-fit: contain;
    border-radius: 10px;
    background: #000;
    padding: 10px;
}

#exerciseDescription {
    margin-top: 10px;
    color: #ccc;
}


